:root {
  --rowNum: 9;
  --colNum: 10;
  --main-color: white;

}
.wrapper {
  height: var(--wrapperH);
}

h1 {
    text-align: center;
}
h3{
  text-align: center;
}
input[type="text"] {
  float:right;
  border: 1px ;
  border-radius: 5px;
  width: 70%;
  height: 30px;
  margin: 8px 5px;
}
#grid-container {
  display: grid;
/*  grid-template-rows: repeat(var(--rowNum), auto);
*/
  /*grid-template-columns: repeat(var(--colNum), auto);*/
  grid-template-columns: 150px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
   grid-template-rows: 150px 50px 50px 50px 50px 50px 50px 50px ;
  background-color: white;
}

.editableCase {
    background-color: #FCEDE9;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.editableCase .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.editableCase:hover .tooltiptext {
  transition-delay: 1000ms;
    visibility: visible;
}

.grid-item  {

  border: 1px solid rgba(15, 138, 240, 0.2);
  padding: 0px;
  font-size: 15px;
  text-align: center;
}

.grid-itemDate  {
  background-color: rgba(255, 255, 255, 255);
  border: 1px solid rgba(15, 138, 240, 0.2);
  padding: 0px;
  font-size: 15px;
  color: rgb(27, 26, 26);
  text-align: center;
}
.grid-itemJour  {
  background-color: rgba(255, 255, 255, 255);
  padding: 0px;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

.inputCase {
background-color:  #90c7e8;
}
.personne {
  float: left;
  vertical-align: middle;
}
img {
    float: left;
  padding: 10px 0;
}

.grid-itemCalMonth{
  background-color: rgba(255, 255, 255, 255);
  font-size: 25px;
  text-align: center;
  width: 780px;
}
.grid-itemCalDate{
  background-color: rgba(255, 255, 255, 255);
  font-size: 25px;
  text-align: center;
  border: solid rgb(182, 45, 45);
  border-width: 1px 1px;
  border-color: white white rgb(41, 41, 41) white;
  width: 128px;
}
.grid-itemHour{
  background-color: rgba(255, 255, 255, 255);
  font-size: 15px;
  text-align: center;
  border: solid rgb(29, 209, 38);
  border-width: 1px 1px;
  border-color: white white rgb(41, 41, 41) white;
  width: 128px;
}
#flex-container {
  display: flex;
  visibility: visible;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  width: 780px;
  height: 1400px;
  border: solid ;
  border-width: 1px 1px;
  border-color: black black white black;
}
.buttonSwitch{
    display: flex;
    width: 780px;
    flex-direction: row;
    justify-content : center;
}
.switch{
  width: 120px;
    border: none;
    background-color: rgba(255, 255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: active;
    display: inline-block;
    font-size: 20px;
    margin: 20px 2px;
    cursor: pointer;
}


.editableCase {
  /*display: none;*/
    background-color: #FCEDE9;
  border: 1px solid rgba(15, 138, 240, 0.2);
  padding: 0px;
  font-size: 15px;
  text-align: center;
}
.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



button[name="buttonEditable"] {
  width: 50px;
  height: 50px;
  background-color: rgba(144, 199, 232, 0.3);
  opacity: 0;
  float: right;
  vertical-align: middle;
}

.personne:hover i{
    opacity: 1;
}
.personne:hover button[name="buttonEditable"] {

    opacity: 1;
}
